<div class="stock">
  <div class="left">
    <table class="table">
      <thead>
        <tr>
          <th class="head" scope="col"></th>
          <th class="head" scope="col">ID</th>
          <th class="head" scope="col">NAME</th>
          <th class="head" scope="col">LOCATION</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="list"
          *ngFor="let item of branchList"
          (click)="getTotalStock(item)"
          routerLink="/details"
        >
          <td scope="row"></td>
          <td>{{ item.branch_id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.location }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="stokList" class="right">
    <router-outlet></router-outlet>
  </div>
</div>
